
@{
    ViewData["Title"] = "Create";
}

<h2>Create An Event</h2>

<div>
    <div class="form-group">
        <form asp-action="CreateEventTypeOne">
            <input type="submit" class="btn btn-primary form-control" value="Create Event Type 1"/>
        </form>
    </div>
    <div class="form-group">
        <form asp-action="CreateEventTypeTwo">
            <input type="submit" class="btn btn-primary form-control" value="Create Event Type 2"/>
        </form>
    </div>
    <div class="form-group">
        <form asp-action="CreateEventBatch">
            <input type="submit" class="btn btn-primary form-control" value="Create Event Batch"/>
        </form>
    </div>
</div>
